# chatbot 
langchain-openai
langchain-core
langchain-community
python-dotenv
streamlit

# for api
langserve
fastapi
uvicorn
sse_starlette

# RAG
ipykernel
beautifulsoup4
pypdf
unstructured
langchain-text-splitters
chromadb
faiss-cpu
sentence_transformers
langchain-chroma